<html>
<head>
<title>Follow backs</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<div class="row">
<div class="col-md-6.col-md-offset-3">
<h1 class="text-center">Follow BackList</h1>
<form action="get_users" method="POST" class="text-center" >
<input type="text" name="handle" placeholder="Enter the username"style="padding:4px 10px" >
<input type="submit" class="btn btn-primary" value="Get users">
   </form>
</div>
</div>
</html>
